.settings_page_xbox360voice legend{
    font-weight: 700;
    font-size: 110%;
    padding-top:10px;
}

.settings_page_xbox360voice #message .warning{
   color: red;
}
.settings_page_xbox360voice #message{
    padding:20px 5px 0;
}
